/*  your css code here. If applicable */
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
*{
padding: 0 px;
margin : 0px;
}

.card{
	background : #ddd;
	width : 80% ;
	height : 600px;
	font-family: 'Poppins', sans-serif;
}

.card_image{
	margin-top:: -10px
	width : 400px;
  height : 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
	margin-left: 15px;
	margin-right: 15px;
}

.card_image img{
  height: 60%;
  object-fit: contain;
}

.card_desc  h1{
	font-size : 50px;
	text-align: center;
	font-weight: 600;
	margin : 0px;
}
.card_desc  p{
	font-size : 30px;
	text-align: center;
	font-weight: 600;
}
.btn{
	background : pink;
	color: white;
	height:60px;
	width: 150px;
	border: 10px solid balck;
	border-radius: 20px;
	text-align: center;
	margin-left : 140px;
}